{% extends 'layout.njk' %}

{% block header %}

    <title>Teachers</title>


{% endblock header %}

{% block content %}
<div class="teacher-card table-container">
    
    <div class="header">
        <a href="/teachers/create">Novo</a>
        <form action="/teachers" method="GET">
            <input type="text" name="filter" placeholder="Nome ou Atendimento" value="{{filter}}">
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Professor</th>
                <th>Acompanhamento</th>
                <th>Alunos</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url({{teacher.avatar_url}})"></span>
                    {{teacher.name}}
                </td>
                <td>{{teacher.subjects}}</td>
                <td>{{teacher.total_students}}</td>
                <td><a href="/teachers/{{teacher.id}}">Detalhes</a></td>
            </tr>
            {%endfor%}

        </tbody>
    </table>
</div>

{% endblock content %}

