{% extends 'layout.njk' %}

{% block header %}

    <title>Teachers</title>


{% endblock header %}

{% block content %}
<div class="teacher-card table-container">
    <a href="/teachers/create">Novo Professor</a>
    <table>
        <thead>
            <tr>
                <th>Professor</th>
                <th>Acompanhamento</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td>
                    <span style="background-image: url({{teacher.avatar_url}})"></span>
                    {{teacher.name}}
                </td>
                <td>{{teacher.subjects}}</td>
                <td><a href="/teachers/{{teacher.id}}">Detalhes</a></td>
            </tr>
            {%endfor%}

        </tbody>
    </table>
</div>

{% endblock content %}

