<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">

    {% block head %}

    <title>Teachers</title>

    {% endblock %}

</head>
<body>
    <header>
        <div class="links">
            <a href="/teachers">Teachers</a>
            <a href="/students">Students</a>
        </div>
    </header>

    {% block content %}

    {% endblock %}
    <script src="/scripts.js"></script>
</body>
</html>